body {
    background-color: white;
    margin: 0;
}

#info-bar {
    background-color: #e10600;
    display: flex;
    margin: 0px;
    font-family: 'F1 Regular', Arial;
    padding: 5px;
}

h1, h2, h3, label{
    color:white;
}

button{
    padding:0.5em;
    margin-left: 1em;
    text-align: center;
    color:rgb(24,24,24);
    background-color:white;
    border-width: 0.1em;
}

button:hover{
    background-color: black;
    color: white;
}

select{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-left: 1em;
    text-align: center;
    color:rgb(24,24,24);
    background-color:white;
}

.selector {
    display: flex;
    align-items: center; 
    padding-left: 5%;
    padding-right: 5%;
}

#selected-drivers {
    height:100%;
    display: flex;
    justify-content: center;
}

.selected-item {
    display: flex;
    padding: 5px;
}

#graph {
    width: 100%;
    margin: auto;
}

.remove-button {
    display: block;
    margin:auto;
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
}
